<h2> New Celebrities Page</h2>


 <form action="/signUp" method="post">

    

     <div >
  <div >
    <input type="text" name="name" placeholder="Name" aria-label="Name">
    </br>
    </div>
  </div>
  <div >
    <input type="occupation" name="occupation" placeholder="Occupation" aria-label="Occupation">
    </br>
  </div>
  <div class="col">
    <input type="catchPhrase" name="cathPhrase" placeholder="CatchPhrase" aria-label="CathPhrase">
    </br>
  </div>
</div>
</br>
 <button type="Submmit">Submmit</button>
    {{errorMessage}}
</form>




</div>

</div>


</div>