<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
</br>
<a href="./celebrities/create">Add New Celebrity</a>
<a href="./celebrities"> All Celebrities</a>
<a href="./movies/create"> Add New Movie</a>
<a href="./movies"> All Movies</a>