<h2> New Movie Page</h2>


 <form action="/signUp" method="post">

     <div >
 
    <input type="text" name="title" placeholder="Title" aria-label="Title"> </br> 
    <input type="text" name="genre" placeholder="Genre" aria-label="Genre"> </br> 
    <input type="text" name="plot" placeholder="Plot" aria-label="Plot"> </br> 
  </div>
  

</br>
 <button type="Submmit">Submmit</button>
    {{errorMessage}}
</form>
